<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>H95</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container justify-content-center align-items-center mt-2">
        <div class="">
            {{> nav}}
            <div class="main align-content-center d-flex flex-column justify-content-center site-width pt-3">
                <p>Welcome to H95. By accessing and using our services, you agree to be bound by the following Terms and
                    Conditions. Please read them carefully.</p>
                <p>1. Introduction</p>
                <p>1.1. These Terms and Conditions govern your use of the Website and our services, including any data
                    you provide when signing up.

                    <br>1.2. By using the Website, you confirm that you accept these Terms and Conditions and agree to
                    comply with them.

                    <br>1.3. If you do not agree to these Terms and Conditions, you must not use the Website.
                </p>

                <p>2. User Accounts</p>
                <p>2.1. When you create an account, you must provide a username and a password. <br>2.2. You are
                    responsible for maintaining the confidentiality of your password and account information.

                    <br>2.3. You agree to notify us immediately of any unauthorized use of your account or any other
                    breach of security.

                    <br>2.4. We will not be liable for any loss or damage arising from your failure to comply with this
                    section.
                </p>
                <p>3. Data Collection and Usage</p>
                <p>3.1. We collect and process personal data in accordance with our Privacy Policy and applicable data
                    protection laws, including the General Data Protection Regulation (GDPR).

                    <br>3.2. The personal data we collect includes your username and password.

                    <br>3.3. We solely use your data to:
                </p>
                <p>4. User Obligations</p>
                <p>4.1. You must ensure that any information you provide is accurate, complete, and current.

                    <br>4.2. You must not use the Website for any unlawful purposes or in a manner that could harm the
                    Website or other users.

                    <br>4.3. You must not attempt to gain unauthorized access to any part of the Website or its systems.
                </p>
                <p>5. Data Security</p>
                <p>5.1. We implement appropriate technical and organizational measures to protect your personal data
                    against unauthorized access, disclosure, alteration, and destruction.

                    <br>5.2. Despite our efforts, we cannot guarantee absolute security of your data. You acknowledge
                    and accept that you provide your personal data at your own risk.
                </p>
                <p>6. Data Retention</p>
                <p>6.1. We will retain your personal data for as long as necessary to provide you with our services and
                    as required by applicable laws.

                    <br>6.2. If you wish to delete your account, please contact us. We will delete your personal data
                    unless we are required to retain it for legal reasons.
                </p>
                <p>7. Your Rights</p>
                <p>7.1. Under the GDPR, you have the right to:
                <ol>
                    <li>Access your personal data.</li>
                    <li>Correct any inaccurate or incomplete data.</li>
                    <li>Request the deletion of your personal data.</li>
                    <li>Restrict or object to the processing of your data.</li>
                    <li>Request data portability.</li>
                    </p>
                </ol>
                <p>8. Changes to the Terms and Conditions</p>
                <p>8.1. We may update these Terms and Conditions from time to time. We will notify you of any
                    changes by posting the new Terms and Conditions on the Website.

                    <br>8.2. Your continued use of the Website after the posting of changes constitutes your
                    acceptance of such changes.
                </p>

                <p>By creating an account on the Website, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.</p>


            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>